.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5; /* Example background color */
}

.card {
    background-color: #fff;
    width: 100%;
    max-width: 40rem;
    padding: 25px;
}

.flex {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}