

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5; /* Example background color */
}


.welcomeText {
    margin-bottom: 2rem;
    display: block;
}

.google {
    width: 100%;
}

.card {
    background-color: #fff;
    width: 100%;
    max-width: 40rem;
    padding: 25px;
}

.submit {
    margin-top: 2rem;
}
